

  .darkmode--activated body{
    color: #ecf0f1;
  }
  .darkmode--activated #witz{
    color: #000;
  }
  .darkmode--activated .darkmode{
    color: #fff;
  }
  .darkmode--activated label{
    color: #fff;
  }
  .darkmode--activated button,.btn-primary{
    background-color: #007bff;
  }

